################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Budgeter/.vs/Budgeter/v15/Server/sqlite3/storage.ide-wal
