################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Budgeter/.vs/Budgeter/v15/Server/sqlite3/storage.ide-wal
/Budgeter/.vs/Budgeter/v15/Server/sqlite3/storage.ide-shm
/Budgeter/.vs/Budgeter/v15/Server/sqlite3/storage.ide
/Budgeter/.vs/Budgeter/v15/Server/sqlite3/db.lock
/Budgeter/.vs/Budgeter/v15/Server/sqlite3
/Budgeter/.vs/Budgeter/v15/.suo
/Budgeter/.vs/Budgeter/v15
/Budgeter/.vs/Budgeter/DesignTimeBuild/.dtbcache
/Budgeter/.vs/Budgeter/DesignTimeBuild
/Budgeter/.vs/Budgeter
/Budgeter/packages
/Budgeter/Budgeter.Test/obj
/Budgeter/Budgeter.Test/bin/Debug/netcoreapp2.1
